# IDE directories
.idea
.vscode*
# build directories
build*
cmake-build-*/
# test executables, results and temp files
test/**/*-float
test/**/*-taffo
test/**/*float-res*
test/**/*taffo-res*
test/**/*.log
test/**/*.csv
test/**/*.json
test/**/*.taffotmp.ll
