*.log
*.ll
*.s
taffo_time.txt
taffo_out.txt
float_time.txt
float_out.txt
2mm_*
3mm_*
adi_*
atax_*
bicg_*
cholesky_*
corr_*
covariance_*
deriche_*
doitgen_*
durbin_*
fdtd-2d_*
floyd-warshall_*
gemm_*
gemmver_*
gesummv_*
gramschmidt_*
heat-3d_*
jacobi-1d_*
jacobi-2d_*
lu_*
ludcmp_*
mvt_*
nussinov_*
seidel-2d_*
symm_*
syr2k_*
syrk_*
trisolv_*
trmm_*
embedded_src/bench_obj
embedded_src/obj
*.o
