test/polybench-cpu/build
test/polybench-cpu/stats
test/polybench-cpu/output-data-32
test/polybench-cpu/output-data-64
build
*~
test/axbench/*/obj/
test/axbench/*/bin/
test/axbench/*/data/output
test/axbench/*/stats/
.idea/
cmake-build-debug/
test/axbench/raw-times
test/axbench/results
test/axbench/*_results
test/axbench/*_results.zip
test/axbench/kmeans/correct_output
test/axbench/kmeans/src_before
test/axbench/kmeans/out1.tmp
test/axbench/kmeans/out2.tmp
test/axbench/kmeans/tmp.err
test/axbench/kmeans/tmp.log
test/axbench/sobel/*.tmp
test/axbench/sobel/tmp.err
test/axbench/sobel/tmp.log
test/axbench/fft/orig_src
test/axbench/blackscholes/orig_src
*.bin
test-ep.txt
test-pe.txt
