name: CMake

on: push

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  LLVM_DIR: /home/runner/llvm
  LD_LIBRARY_PATH: /home/runner/ortools/lib
  
  

jobs:

  build_or-tools:
      uses: ./.github/workflows/or-tools.yml
      
      
  build_LLVM:    
      uses: ./.github/workflows/llvm-setup.yml
  
  build_Taffo:
    needs: ["build_LLVM", "build_or-tools"]
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    
    - name: Setup Python
      uses: actions/setup-python@v4.3.1
      
    - name: Pip
      run: pip install numpy pandas gmpy2

    
    - name: Dependencies
      run: |
        sudo apt install protobuf-compiler
        sudo apt install -y build-essential cmake lsb-release
        
    - name: or-tools
      uses: actions/cache@v3.2.0-beta.1
      id: or-cache
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path: "/home/runner/ortools"
          # An explicit key for restoring and saving the cache
        key: "ortools"
        
    - name: LLVM
      uses: actions/cache@v3.2.0-beta.1
      id: llvm-cache
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path: "/home/runner/llvm"
          # An explicit key for restoring and saving the cache
        key: "llvm"
        
    - uses: actions/checkout@v3
        
    
    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DLLVM_DIR="/home/runner/llvm" -DCMAKE_PREFIX_PATH="/home/runner/ortools"

    - name: Build
      # Build your program with the given configuration
      run: sudo cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --target install -j 10



  test_Taffo:
    needs: "build_Taffo"
    runs-on: ubuntu-latest
    env:
      LD_LIBRARY_PATH: /home/runner/ortools/lib:/home/runner/llvm/lib/libomp.so
    steps:
    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C ${{env.BUILD_TYPE}}  -V --output-on-failure -j 11 --timeout 3600

